[Desktop Entry]
Type=Application
Name=System Update
GenericName=Update System Packages
Comment=XBPS packages updater with GTK interface
Exec=xbps_updater
Icon=upd
Terminal=false
Categories=System;Utility;
Keywords=update;package;xbps;system;
StartupNotify=true
